
          /* Causes 
          ================================= */
          .cause-carousel {
            margin-top: 15px;
            margin-bottom: 30px;
            color: white;
          }
          
          .carousel-caption {
              color: rgb(228, 222, 222);
          }
          
  